<%- include("partials/header") %> 


<h2 class="loser">You Bit Yourself!</h2>
<div class="left">
    <h2 class="big-heading">Classic Snake Game</h2>
<p>This is made just for FUN! <br> It is made using Javascript and p5.js library with OOP approach.<br> p5.js is a creative coding library which allows developers to draw shapes, animations and a lot more. Here the canvas, snake body and food item is drawn using p5.js and animation frames are rendered by p5.js.
    <br> <br>
<strong>NO GAMING LIBRARIES OR MODULES ARE USED</strong>.</p>

<div class="idea">

        <a class="btn btn-secondary big-heading" href="/doc">READ MORE</a>
    
</div>
    <span>Your score<h1 class="score">0</h1></span>
</div>

<div class="mobile-screens text-center">
    <h3>The snake game is intended to be played on Laptops/PCs. Hence the game is not compatible with smaller devices. Although you can check out the DOCs</h3>
    <div class="idea">

        <a class="btn btn-secondary big-heading" href="/doc">READ MORE</a>
    
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
<script src="/js/utilities.js"></script>
<script src="/js/snake.js"></script>
<script src="/js/food.js"></script>
<script src="/js/sketch.js"></script>    
<script src="/js/index.js"></script>
<%- include("partials/footer") %> 